./1.12.2/gtceucraft/mcserver/plugins/GroupManager/backup
./1.12.2/gtceucraft/mcserver/usercache.json
./1.12.2/gtceucraft/mcserver/usernamecache.json
./1.12.2/gtceucraft/mcserver/plugins/Essentials/userdata
./1.12.2/gtceucraft/mcserver/plugins/Yum/monitor.log
